:root {
    --color-cream: #d9d9d9;
    --color-grey: #686868;
    --color-green: #a1c8bb;
    --color-yellow: #feeda7;
}

html, body {
    background-color: var(--color-grey);
    
    margin: 0px;
    height: 100%;
}

#top-bar {
    display: flex;
    height: 200px;
}

#bar-div {
    background-color: var(--color-cream);

    width: 100%;
    height: 100px;
}

#bar-div img {
    height: 200px;
    margin-left: 20px;
}

#panels {
    display: flex;
    padding: 0px 20px;

    height: calc(100% - 200px);
}

#panels > div {
    background-color: var(--color-green);

    align-self: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    padding: 10px;
    height: calc(100% - 75px);
}