body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    width: 100%; /* Ensure the navbar spans the entire width of .box_2 */
    height: 50px; /* Allow the navbar to be only as tall as its content */
    border-radius: 5px;
}

.nav-bar-text {
    float: left;
    padding: 5px 15px;
    margin: 0px;
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* currently unused content */
/* .box_2 {
    width: 75%;
    overflow: hidden;
    
    line-height: 40px; \/* Set line height for .box_2 *\/
    border-radius: 5px;
    box-shadow: 8px 8px 25px var(--color-cream), -8px -8px 25px #ffffff;
} */

/* currently unused Button design */
/* .card {
margin: 10px;
background-color: #959393;
height: 150px;
width: 100px;
flex: 1;
border-radius: 16px;
transition: all 0.3s ease;
display: flex;
align-items: center;
justify-content: center;

font-weight: bold;
color: var(--color-cream);
}

.card:hover {
flex: 2;
background-color: #b8b8b8;
} */




