#login-panel {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#login-panel form {
    border: solid 2px var(--color-grey);
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 15% 35% 25%;
}

#login-panel label {
    grid-column-start: 1;
    grid-column-end: 3;
}

#login-panel input {
    grid-column-start: 3;
    grid-column-end: 5;
}

#login-panel .submit {
    grid-column-start: 2;
    grid-column-end: 4;
}

#aesthetic-panel {
    width: 100%;
    position: relative;
}

#aesthetic-panel p {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fade-img {
    opacity: 0;
    height: 250px;
    width: 250px;
    animation-name: fade-in-and-out;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    border-radius: 40px;
}

@keyframes fade-in-and-out {
    0%, 40% {transform: scale(0.6); opacity: 0;}
    20% {transform: scale(1); opacity: 0.8;}
}