body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 100%; /* Ensure the navbar spans the entire width of .box_2 */
  height: 50px; /* Allow the navbar to be only as tall as its content */
  border-radius: 5px;
}

.nav-bar-text {
  float: left;
  padding: 5px 15px;
  margin: 0px;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

/* Control panel styling */
#controls {
  flex: 5;
}

#controls-buttons {
  display: flex;
  width: 100%;
  height: calc(100% - 50px + 10px);
  max-height: calc(100% - 50px + 10px);
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* Control button styling */
.card {
  border-radius: 16px;
  background-color: #959393;

  font-weight: bold;
  font-style: normal;
  color: var(--color-cream);
  text-decoration: none;

  margin: 10px;
  width: calc(45% - 20px);
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  width: calc(50% - 20px);
  background-color: #b8b8b8;
}