#control-panel {
    flex: 1.75;
}

#current-inventory-view {
    flex: 3;
}

#add-shipment, #remove-expired {
    display: flex;

    margin: 10px;
    padding: 10px;

    border: 3px solid var(--color-grey);
    border-radius: 5px;
}

#new-shipment-form {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

#new-shipment-form * {
    margin: 2px;
}

#selected-item-img {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100px;
    width: 100px;
    justify-self: center;
    background-color: grey;
}

#new-shipment-form button {
    grid-column-start: 1;
    grid-column-end: 3;
}

#current-stock-filter-text {
    width: calc(100% - 10px - 25%);
    border-radius: 2px;
    padding: 3px;
}

#current-stock {
    overflow: scroll;
    height: calc(100% - 4px - 50px + 10px - 50px - 10px - 26px);
    width: 100%;
    border: 2px solid var(--color-grey);
}

#current-stock table {
    height: 100%;
    width: 100%;
}

#current-stock tbody {
    height: calc(100% - 30px);
    width: 100%;
    overflow: scroll;
}

#current-stock tr {
    width: 100%;
}

#current-stock tr, #current-stock td {
    border: 1px solid grey;
}

.expired {
    background-color: var(--color-yellow);
}

.shipment-type-img {
    width: 75px;
}

.shipment-type-img img {
    height: 75px;
    width: 75px;
}

#stock-legend {
    height: 50px;
    margin: 4px 0px;
    text-align: center;
    background-color: grey;
    border: 1px solid var(--color-grey);
}