{% extends 'base.html' %} {% block title %}Manager Dashboard{% endblock %}

{% block unique_stylesheets %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='manager_ui.css') }}"
/>
{% endblock %} {% block content %}
<!-- Main Content -->
<div class="container">
  <!-- Left Side Content -->
  <div class="left-side">
    <div class="box">
      <div class="nav-bar">
        <div class="nav-bar-text">Manager Profile</div>
      </div>
      <div class="content">
        <!-- You can add manager specific content here -->
      </div>
    </div>
  </div>

  <!-- Right Side Content -->
  <div class="right-side">
    <div class="box">
      <div class="nav-bar">
        <div class="nav-bar-text">Manager Dashboard</div>
      </div>
      <div class="container">
        <div class="card">Reports</div>
        <div class="card">Inventory</div>
        <div class="card">Settings</div>
        <!--You can add more manager specific cards here according to your project requirements -->
      </div>
    </div>
  </div>
</div>
{% endblock %}