{% extends 'base.html' %}

{% block title %}Menu Screen{% endblock %}

{% block unique_stylesheets %}<link rel="stylesheet" href="{{ url_for('static', filename='menu_listing.css') }}">{% endblock %}

{% block content %}
<div id="panels">
    <div id="menu">
        <h1>Menu</h1>
        <hr>
        <div id="menu_container">
            <table>
                <!-- <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                </thead> -->
                <tbody>
                    {% for item in menu_contents %}
                        <tr>
                            <td class="food-image"><img src="{{ item.get_image_path() }}"></td>
                            <td class="food-name">{{ item.name }}</td>
                            <td class="food-price">${{ item.price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="cart">
        <h1>Cart</h1>
        <hr>
    </div>
</div>
{% endblock %}