<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ByteBloom Login</title>
        <!-- <link rel="stylesheet" href="/static/bytebloom.css">
        <link rel="stylesheet" href="/static/login_page.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bytebloom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}">
    </head>
    <body>
        <div id="top-bar">
            <div id="bar-div">
                <img id="logo" src="/static/images/logo_v2.png">
            </div>
        </div>

        <div id="panels">
            <div id="login-panel">
                <h2>Login</h3>
                <form method="post">
                    <label for="username">Username: </label>
                    <input type="text" name="username">

                    <label for="password">Password: </label></span>
                    <input type="password" name="password">

                    <input type="submit" value="Submit" class="submit">
                </form>
            </div>

            <div id="temp-panel">
                <p>Import Design Here</p>
            </div>
        </div>
    </body>
</html>